server {
    listen ${NGINX_PORT};
    charset utf-8;
    root   /var/www/html;
    index  index.html index.htm index.php;
    include conf.d/php.template; 
    location ~ \.php$ {
        fastcgi_pass   ${PHP_URI};
        fastcgi_index  index.php;
	fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include        fastcgi_params;
    }
}

